# Main_DDL
---
## This file is responsible for reading the raw data, cleaning it, and transforming the data into SQL files for implementation in the server containing the database

### Import Statements

In [1]:
import pandas as pd
import os
import openpyxl
from myMethods import (
    iter_file_paths,
    extract_dataframe_from_txt,
    extract_dataframe_from_excel,
    # parse_FC_data_1,
    parse_FC_data_2,
    # parse_FC_data_3,
    save_dataframe_to_excel,
    generate_ddl_from_file, ## may be deprecated
)

### Reading the Data
#### Data from DATA FILES/Source_Data is extracted into DATA FILES/Extracted_Data

In [2]:

## Define directories
DATA_dir = './DATA FILES/Source_Data/'
extracted_data_dir = './DATA FILES/Extracted_Data/'

## Create output directories if they don't exist
os.makedirs(extracted_data_dir, exist_ok=True)

## List to store tuples of (DataFrame, file_type, file_name)
dataframe_infos = []

## Extract data from all files
for file_path in iter_file_paths(DATA_dir):
    file_name = os.path.basename(file_path)
    base_name, ext = os.path.splitext(file_name)
    
    try:
        ## Extract data based on file type
        if ext.lower() == '.txt':
            df = extract_dataframe_from_txt(file_path, _encoding='cp1252')
            print(f"Successfully extracted from text file: {file_name}")
        elif ext.lower() in ['.xls', '.xlsx']:
            df = extract_dataframe_from_excel(file_path)
            print(f"Successfully extracted from Excel file: {file_name}")
        else:
            print(f"Skipping unsupported file: {file_name}")
            continue
        
        ## Store the DataFrame with its metadata
        dataframe_infos.append((df.info(), ext.lower(), base_name))
        
        ## Export the DataFrame to Excel
        output_path = os.path.join(extracted_data_dir, f"{base_name}.xlsx")
        try:
            save_dataframe_to_excel(df, output_path)
            print(f"Successfully saved: {base_name}.xlsx to Extracted_Data folder")
        except Exception as e:
            print(f"Error saving {base_name}.xlsx: {e}")
        
    ## Handle specific exceptions for parsing
    except Exception as e:
        print(f"Error processing {file_name}: {e}")

Successfully extracted from text file: Ar76c.txt
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 48 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       305 non-null    object
 1   1       305 non-null    object
 2   2       305 non-null    int64
 3   3       305 non-null    int64
 4   4       305 non-null    int64
 5   5       305 non-null    int64
 6   6       267 non-null    object
 7   7       267 non-null    float64
 8   8       267 non-null    float64
 9   9       304 non-null    object
 10  10      304 non-null    float64
 11  11      304 non-null    float64
 12  12      274 non-null    object
 13  13      274 non-null    float64
 14  14      274 non-null    float64
 15  15      274 non-null    object
 16  16      274 non-null    float64
 17  17      274 non-null    float64
 18  18      297 non-null    object
 19  19      297 non-null    float64
 20  20      297 non-null    float64
 21  21      304 non-null    object
 22  22      304 non-null    float64
 23  23      304 non-null    float64
 24  24      304 non-null    object
 25  25      304 non-null    float64
 26  26      304 non-null    float64
 27  27      213 non-null    object
 28  28      213 non-null    float64
 29  29      213 non-null    float64
 30  30      257 non-null    object
 31  31      257 non-null    float64
 32  32      257 non-null    float64
 33  33      304 non-null    object
 34  34      304 non-null    float64
 35  35      304 non-null    float64
 36  36      290 non-null    object
 37  37      290 non-null    float64
 38  38      290 non-null    float64
 39  39      61 non-null     object
 40  40      61 non-null     float64
 41  41      61 non-null     float64
 42  42      304 non-null    object
 43  43      304 non-null    float64
 44  44      304 non-null    float64
 45  45      285 non-null    object
 46  46      285 non-null    float64
 47  47      285 non-null    float64
dtypes: float64(28), int64(4), object(16)
memory usage: 114.5+ KB
Successfully saved: Ar76c.xlsx to Extracted_Data folder
Successfully extracted from text file: Ar76f.txt
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4224 entries, 0 to 4223
Data columns (total 42 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4224 non-null   object
 1   1       4224 non-null   object
 2   2       4224 non-null   int64
 3   3       4224 non-null   int64
 4   4       4224 non-null   int64
 5   5       4224 non-null   int64
 6   6       3537 non-null   object
 7   7       3537 non-null   float64
 8   8       3537 non-null   float64
 9   9       4006 non-null   object
 10  10      4006 non-null   float64
 11  11      4006 non-null   float64
 12  12      3812 non-null   object
 13  13      3812 non-null   float64
 14  14      3812 non-null   float64
 15  15      3812 non-null   object
 16  16      3812 non-null   float64
 17  17      3812 non-null   float64
 18  18      3965 non-null   object
 19  19      3965 non-null   float64
 20  20      3965 non-null   float64
 21  21      4006 non-null   object
 22  22      4006 non-null   float64
 23  23      4006 non-null   float64
 24  24      4006 non-null   object
 25  25      4006 non-null   float64
 26  26      4006 non-null   float64
 27  27      3698 non-null   object
 28  28      3698 non-null   float64
 29  29      3698 non-null   float64
 30  30      4006 non-null   object
 31  31      4006 non-null   float64
 32  32      4006 non-null   float64
 33  33      3908 non-null   object
 34  34      3908 non-null   float64
 35  35      3908 non-null   float64
 36  36      4006 non-null   object
 37  37      4006 non-null   float64
 38  38      4006 non-null   float64
 39  39      3865 non-null   object
 40  40      3865 non-null   float64
 41  41      3865 non-null   float64
dtypes: float64(24), int64(4), object(14)
memory usage: 1.4+ MB
Successfully saved: Ar76f.xlsx to Extracted_Data folder
Successfully extracted from text file: AR79C.TXT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 38 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       305 non-null    object
 1   1       305 non-null    int64
 2   2       305 non-null    int64
 3   3       305 non-null    int64
 4   4       305 non-null    int64
 5   5       305 non-null    int64
 6   6       305 non-null    int64
 7   7       305 non-null    int64
 8   8       275 non-null    object
 9   9       275 non-null    float64
 10  10      275 non-null    float64
 11  11      305 non-null    object
 12  12      305 non-null    int64
 13  13      305 non-null    int64
 14  14      78 non-null     object
 15  15      78 non-null     float64
 16  16      78 non-null     float64
 17  17      305 non-null    object
 18  18      305 non-null    int64
 19  19      305 non-null    int64
 20  20      258 non-null    object
 21  21      258 non-null    float64
 22  22      258 non-null    float64
 23  23      82 non-null     object
 24  24      82 non-null     float64
 25  25      82 non-null     float64
 26  26      305 non-null    object
 27  27      305 non-null    int64
 28  28      305 non-null    int64
 29  29      305 non-null    object
 30  30      305 non-null    int64
 31  31      305 non-null    int64
 32  32      305 non-null    object
 33  33      305 non-null    int64
 34  34      305 non-null    int64
 35  35      275 non-null    object
 36  36      275 non-null    float64
 37  37      275 non-null    float64
dtypes: float64(10), int64(17), object(11)
memory usage: 90.7+ KB
Successfully saved: AR79C.xlsx to Extracted_Data folder
Successfully extracted from text file: AR79F.TXT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4224 entries, 0 to 4223
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4224 non-null   object
 1   1       4224 non-null   int64
 2   2       4224 non-null   int64
 3   3       4224 non-null   int64
 4   4       4224 non-null   int64
 5   5       4224 non-null   int64
 6   6       4224 non-null   int64
 7   7       4224 non-null   int64
 8   8       3848 non-null   object
 9   9       3848 non-null   float64
 10  10      3848 non-null   float64
 11  11      4042 non-null   object
 12  12      4042 non-null   float64
 13  13      4042 non-null   float64
 14  14      4042 non-null   object
 15  15      4042 non-null   float64
 16  16      4042 non-null   float64
 17  17      3655 non-null   object
 18  18      3655 non-null   float64
 19  19      3655 non-null   float64
 20  20      4042 non-null   object
 21  21      4042 non-null   float64
 22  22      4042 non-null   float64
 23  23      4042 non-null   object
 24  24      4042 non-null   float64
 25  25      4042 non-null   float64
 26  26      4042 non-null   object
 27  27      4042 non-null   float64
 28  28      4042 non-null   float64
 29  29      3848 non-null   object
 30  30      3848 non-null   float64
 31  31      3848 non-null   float64
dtypes: float64(16), int64(7), object(9)
memory usage: 1.0+ MB
Successfully saved: AR79F.xlsx to Extracted_Data folder
Successfully extracted from text file: AR80C.TXT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 38 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       305 non-null    object
 1   1       305 non-null    int64
 2   2       305 non-null    int64
 3   3       305 non-null    int64
 4   4       305 non-null    int64
 5   5       305 non-null    int64
 6   6       305 non-null    int64
 7   7       305 non-null    int64
 8   8       275 non-null    object
 9   9       275 non-null    float64
 10  10      275 non-null    float64
 11  11      305 non-null    object
 12  12      305 non-null    int64
 13  13      305 non-null    int64
 14  14      275 non-null    object
 15  15      275 non-null    float64
 16  16      275 non-null    float64
 17  17      67 non-null     object
 18  18      67 non-null     float64
 19  19      67 non-null     float64
 20  20      305 non-null    object
 21  21      305 non-null    int64
 22  22      305 non-null    int64
 23  23      286 non-null    object
 24  24      286 non-null    float64
 25  25      286 non-null    float64
 26  26      305 non-null    object
 27  27      305 non-null    int64
 28  28      305 non-null    int64
 29  29      305 non-null    object
 30  30      305 non-null    int64
 31  31      305 non-null    int64
 32  32      305 non-null    object
 33  33      305 non-null    int64
 34  34      305 non-null    int64
 35  35      305 non-null    object
 36  36      305 non-null    int64
 37  37      305 non-null    int64
dtypes: float64(8), int64(19), object(11)
memory usage: 90.7+ KB
Successfully saved: AR80C.xlsx to Extracted_Data folder
Successfully extracted from text file: AR80F.TXT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4224 entries, 0 to 4223
Data columns (total 35 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4224 non-null   object
 1   1       4224 non-null   int64
 2   2       4224 non-null   int64
 3   3       4224 non-null   int64
 4   4       4224 non-null   int64
 5   5       4224 non-null   int64
 6   6       4224 non-null   int64
 7   7       4224 non-null   int64
 8   8       3848 non-null   object
 9   9       3848 non-null   float64
 10  10      3848 non-null   float64
 11  11      4042 non-null   object
 12  12      4042 non-null   float64
 13  13      4042 non-null   float64
 14  14      3848 non-null   object
 15  15      3848 non-null   float64
 16  16      3848 non-null   float64
 17  17      4042 non-null   object
 18  18      4042 non-null   float64
 19  19      4042 non-null   float64
 20  20      3901 non-null   object
 21  21      3901 non-null   float64
 22  22      3901 non-null   float64
 23  23      4042 non-null   object
 24  24      4042 non-null   float64
 25  25      4042 non-null   float64
 26  26      4042 non-null   object
 27  27      4042 non-null   float64
 28  28      4042 non-null   float64
 29  29      4042 non-null   object
 30  30      4042 non-null   float64
 31  31      4042 non-null   float64
 32  32      4042 non-null   object
 33  33      4042 non-null   float64
 34  34      4042 non-null   float64
dtypes: float64(18), int64(7), object(10)
memory usage: 1.1+ MB
Successfully saved: AR80F.xlsx to Extracted_Data folder
Successfully extracted from text file: AR83C.TXT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 47 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       305 non-null    object
 1   1       305 non-null    int64
 2   2       305 non-null    int64
 3   3       305 non-null    int64
 4   4       305 non-null    int64
 5   5       305 non-null    int64
 6   6       305 non-null    int64
 7   7       305 non-null    int64
 8   8       305 non-null    object
 9   9       305 non-null    int64
 10  10      305 non-null    int64
 11  11      305 non-null    object
 12  12      305 non-null    int64
 13  13      305 non-null    int64
 14  14      281 non-null    object
 15  15      281 non-null    float64
 16  16      281 non-null    float64
 17  17      202 non-null    object
 18  18      202 non-null    float64
 19  19      202 non-null    float64
 20  20      305 non-null    object
 21  21      305 non-null    int64
 22  22      305 non-null    int64
 23  23      286 non-null    object
 24  24      286 non-null    float64
 25  25      286 non-null    float64
 26  26      305 non-null    object
 27  27      305 non-null    int64
 28  28      305 non-null    int64
 29  29      249 non-null    object
 30  30      249 non-null    float64
 31  31      249 non-null    float64
 32  32      305 non-null    object
 33  33      305 non-null    int64
 34  34      305 non-null    int64
 35  35      305 non-null    object
 36  36      305 non-null    int64
 37  37      305 non-null    int64
 38  38      256 non-null    object
 39  39      256 non-null    float64
 40  40      256 non-null    float64
 41  41      256 non-null    object
 42  42      256 non-null    float64
 43  43      256 non-null    float64
 44  44      49 non-null     object
 45  45      49 non-null     float64
 46  46      49 non-null     float64
dtypes: float64(14), int64(19), object(14)
memory usage: 112.1+ KB
Successfully saved: AR83C.xlsx to Extracted_Data folder
Successfully extracted from text file: AR83F.TXT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4224 entries, 0 to 4223
Data columns (total 44 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4224 non-null   object
 1   1       4224 non-null   int64
 2   2       4224 non-null   int64
 3   3       4224 non-null   int64
 4   4       4224 non-null   int64
 5   5       4224 non-null   int64
 6   6       4224 non-null   int64
 7   7       4224 non-null   int64
 8   8       4050 non-null   object
 9   9       4050 non-null   float64
 10  10      4050 non-null   float64
 11  11      4050 non-null   object
 12  12      4050 non-null   float64
 13  13      4050 non-null   float64
 14  14      3684 non-null   object
 15  15      3684 non-null   float64
 16  16      3684 non-null   float64
 17  17      3196 non-null   object
 18  18      3196 non-null   float64
 19  19      3196 non-null   float64
 20  20      4050 non-null   object
 21  21      4050 non-null   float64
 22  22      4050 non-null   float64
 23  23      3901 non-null   object
 24  24      3901 non-null   float64
 25  25      3901 non-null   float64
 26  26      4050 non-null   object
 27  27      4050 non-null   float64
 28  28      4050 non-null   float64
 29  29      3694 non-null   object
 30  30      3694 non-null   float64
 31  31      3694 non-null   float64
 32  32      4050 non-null   object
 33  33      4050 non-null   float64
 34  34      4050 non-null   float64
 35  35      4050 non-null   object
 36  36      4050 non-null   float64
 37  37      4050 non-null   float64
 38  38      3285 non-null   object
 39  39      3285 non-null   float64
 40  40      3285 non-null   float64
 41  41      3285 non-null   object
 42  42      3285 non-null   float64
 43  43      3285 non-null   float64
dtypes: float64(24), int64(7), object(13)
memory usage: 1.4+ MB
Successfully saved: AR83F.xlsx to Extracted_Data folder
Successfully extracted from text file: AR85C.TXT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       305 non-null    object
 1   1       305 non-null    int64
 2   2       305 non-null    int64
 3   3       305 non-null    int64
 4   4       305 non-null    int64
 5   5       305 non-null    int64
 6   6       305 non-null    int64
 7   7       305 non-null    int64
 8   8       305 non-null    object
 9   9       305 non-null    int64
 10  10      305 non-null    int64
 11  11      305 non-null    object
 12  12      305 non-null    int64
 13  13      305 non-null    int64
 14  14      260 non-null    object
 15  15      260 non-null    float64
 16  16      260 non-null    float64
 17  17      305 non-null    object
 18  18      305 non-null    int64
 19  19      305 non-null    int64
 20  20      305 non-null    object
 21  21      305 non-null    int64
 22  22      305 non-null    int64
 23  23      305 non-null    object
 24  24      305 non-null    int64
 25  25      305 non-null    int64
 26  26      305 non-null    object
 27  27      305 non-null    int64
 28  28      305 non-null    int64
 29  29      305 non-null    object
 30  30      305 non-null    int64
 31  31      305 non-null    int64
 32  32      305 non-null    object
 33  33      305 non-null    int64
 34  34      305 non-null    int64
 35  35      305 non-null    object
 36  36      305 non-null    int64
 37  37      305 non-null    int64
 38  38      305 non-null    object
 39  39      305 non-null    int64
 40  40      305 non-null    int64
dtypes: float64(2), int64(27), object(12)
memory usage: 97.8+ KB
Successfully saved: AR85C.xlsx to Extracted_Data folder
Successfully extracted from text file: AR85F.TXT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4224 entries, 0 to 4223
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4224 non-null   object
 1   1       4224 non-null   int64
 2   2       4224 non-null   int64
 3   3       4224 non-null   int64
 4   4       4224 non-null   int64
 5   5       4224 non-null   int64
 6   6       4224 non-null   int64
 7   7       4224 non-null   int64
 8   8       4092 non-null   object
 9   9       4092 non-null   float64
 10  10      4092 non-null   float64
 11  11      4092 non-null   object
 12  12      4092 non-null   float64
 13  13      4092 non-null   float64
 14  14      3695 non-null   object
 15  15      3695 non-null   float64
 16  16      3695 non-null   float64
 17  17      4092 non-null   object
 18  18      4092 non-null   float64
 19  19      4092 non-null   float64
 20  20      4092 non-null   object
 21  21      4092 non-null   float64
 22  22      4092 non-null   float64
 23  23      4092 non-null   object
 24  24      4092 non-null   float64
 25  25      4092 non-null   float64
 26  26      4092 non-null   object
 27  27      4092 non-null   float64
 28  28      4092 non-null   float64
 29  29      4092 non-null   object
 30  30      4092 non-null   float64
 31  31      4092 non-null   float64
 32  32      4092 non-null   object
 33  33      4092 non-null   float64
 34  34      4092 non-null   float64
 35  35      4092 non-null   object
 36  36      4092 non-null   float64
 37  37      4092 non-null   float64
 38  38      4092 non-null   object
 39  39      4092 non-null   float64
 40  40      4092 non-null   float64
dtypes: float64(22), int64(7), object(12)
memory usage: 1.3+ MB
Successfully saved: AR85F.xlsx to Extracted_Data folder
Successfully extracted from text file: AR87C.TXT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 47 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       305 non-null    object
 1   1       305 non-null    int64
 2   2       305 non-null    int64
 3   3       305 non-null    int64
 4   4       305 non-null    int64
 5   5       305 non-null    int64
 6   6       305 non-null    int64
 7   7       305 non-null    int64
 8   8       305 non-null    object
 9   9       305 non-null    int64
 10  10      305 non-null    int64
 11  11      305 non-null    object
 12  12      305 non-null    int64
 13  13      305 non-null    int64
 14  14      305 non-null    object
 15  15      305 non-null    int64
 16  16      305 non-null    int64
 17  17      260 non-null    object
 18  18      260 non-null    float64
 19  19      260 non-null    float64
 20  20      305 non-null    object
 21  21      305 non-null    int64
 22  22      305 non-null    int64
 23  23      305 non-null    object
 24  24      305 non-null    int64
 25  25      305 non-null    int64
 26  26      101 non-null    object
 27  27      101 non-null    float64
 28  28      101 non-null    float64
 29  29      305 non-null    object
 30  30      305 non-null    int64
 31  31      305 non-null    int64
 32  32      305 non-null    object
 33  33      305 non-null    int64
 34  34      305 non-null    int64
 35  35      305 non-null    object
 36  36      305 non-null    int64
 37  37      305 non-null    int64
 38  38      305 non-null    object
 39  39      305 non-null    int64
 40  40      305 non-null    int64
 41  41      286 non-null    object
 42  42      286 non-null    float64
 43  43      286 non-null    float64
 44  44      305 non-null    object
 45  45      305 non-null    int64

In [ ]:
## check dataframes info
for df_info, ext, base_name in dataframe_infos:
    print(f"DataFrame info for {base_name}:")
    print(df_info)
    print(f"Source file name: {base_name}")
    print(f"Source file type: {ext}\n")

### Cleaning the Data
#### Data from DATA FILES/Extracted_Data is cleaned and the clean data is saved into DATA FILES/Cleaned_Data

In [ ]:
## cleaning data block

### cells below are explicitly for testing / debugging purposes

In [ ]:
## testing format of Ar76f.txt file
## Read the file and extract the DataFrame
file_path = './DATA FILES/Source_Data/Ar76f.txt'
df = extract_dataframe_from_txt(file_path, _encoding='cp1252')
save_dataframe_to_excel(df, './DATA FILES/Extracted_Data/Ar76f.xlsx')